.popupTitle {
  background-color: #daf9de;
  align-items: center;
  height: 35px;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  height: 41px;
  padding: 0 40px;
  text-align: center;
}

.popupContent {
  padding-left: 18px;
  padding-right: 18px;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 270px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
  padding-bottom: 18px;
  z-index: 1000;
  text-align: center;
}

.popupBackdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.targetWord {
  border: 1px dashed black;
  width: 55%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.newGame {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #93bd57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lost {
  text-align: center;
}
